.aboutustext {
   text-align: center;
   padding-right: 30%;
   padding-left: 30%;
   padding-top: 3%;
   padding-bottom: 2%;
}
.about-us-pics{
   /* text-align: center; */
   display: block;
   margin: auto;
   width: 96%;
   padding-bottom: 5%;
}
.boundary{
   page-break-after: auto;
   color: orange;
}
hr{
   border-color: #e29503;
   width: 96%;
   margin-left: auto;
   margin-right: auto;
   height: 0%;
}