hr{
   border-color: #e29503;
   width: 96%;
   margin-left: auto;
   margin-right: auto;
   height: 0%;
}
.contactusheading {
   text-align: center;
}
.contactusbutton{
   background-color: black;
   color: #cfbabacc;
   border-color: #dacacacc;
   width: 10%;
   border-radius: 5px;
}
.contactustext {
   background-color: black;
   color: #cfbabacc;
   border-color: #dacacacc;
   width: 70%;
   margin-top: 3%;
   padding: 1%;
   border-radius: 5px;
}
.contactusinfo{
   display: flex;
   flex-grow: 1;
   padding: 5%;
}
.contactusdata{
   margin-top: 3%;
}
.contactusform {
   width: 550%;
   margin-left: 200%;
}
.contactusmap{
   height: 80%;
}
.container{
   height: 100%;
}
.mapDiv{
   margin-bottom:50%;
   display: block;
}
.contactusicons{
   display: flex;
   margin-left: 20%;
   padding-right: 20%;
   width: 120%;
}
.contactusimage{
   margin-right: 40%;
   float:left;
}
.contactusicontext{
   float:right;
}
