@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./borders";
@import "./fonts";
@import "./shame";
@import "./navbar";
@import "./header";
@import "./footer";
@import "./aboutus";
@import "./contactus";
@import "home-page";
@import "./maps.css";
@import "./our-menu.css";

:root {
   --h1:70px;
   --h2:50px;
   --black: #222;
   --lime: #eef0ef;
   font-family: 'Saira', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
   margin: 0.4em 0px;
}

.givingback-header
{
   display: flex;
   flex-wrap: wrap;
}

.sides{
   display: flex;
   flex-wrap: wrap;
}

.sides-pics{
   padding: 0.3%;
   max-width: 18rem;
   max-height: 15rem;
   flex: 1;
}

body{
   background-color: black;
   color: #fefefecc;
}


