@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./borders";
@import "./fonts";
@import "./shame";

:root {
   --h1:70px;
   --h2:50px;
   --black: #222;
   --lime: #eef0ef;
}

* {
   margin: 0px;
   color: var(--black);
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: var(--lime);
}

h1, h2, h3, h4, h5, h6 {
   margin: 0.4em 0px;
   font-family: 'Oswald', sans-serif;
}
.pic-container{
   padding:1px;
   display: flex;
   flex-wrap: wrap;
}

.menu-pics{
   padding: 3%;
   flex: 1;
   min-width: 20rem;
}

.givingback-header
{
   display: flex;
   flex-wrap: wrap;
}

.header-images
{
   padding: 3%;
   max-width: 18rem;
   max-height: 15rem;
   flex: 1;
   display: block;
   margin-right: auto;
   margin-left: auto;
   border-radius: 50%;
}

.sides{
   display: flex;
   flex-wrap: wrap;
}

.sides-pics{
   padding: 0.3%;
   max-width: 18rem;
   max-height: 15rem;
   flex: 1;
}

.main-btns{
   font-size: 2rem;
   margin: 2rem;
   border-radius: 1rem;
   background-color : rgb(238, 206, 147);
}

.main-btns:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-section{
   height: 50%;
}

.second-header {
   color: skyblue;
}

.abcd{
   background-color: #bdbdbd;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.my-header {
   background-color:#242424;
}

.my-header-pic {
   height: 2%;
   width: 60%;
   display: block;
   margin: auto;
   padding-bottom: 1%; 

}

.our-navbar {
   padding-left: 10%;
   padding-right: 10%;
   background-color: #cc7500;
}

.navbar-item {
   display: inline-flex;
   flex: 1;
}

.navbar-item :hover {
   background-color: #e29503;
}

.navbar-text {
   text-align: center;
   display: block;
   margin: auto;
   color: white;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
}

a {
   color: #FFFFFF;
   text-decoration: none;
}